:host {
    display: block;
    width: 100%;
    height: 100%;
}

.dotted-grid {
    background-size: 20px 20px;
    background-image: radial-gradient(#cbd5e1 1px, transparent 1px);
}

.chart-container {
    width: 100%;
    height: 100%;
}

.edge-label {
    paint-order: stroke;
    stroke: white;
    stroke-width: 4px;
    stroke-linecap: round;
    stroke-linejoin: round;
}